 <!DOCTYPE html>
 <html>
  	<head>
  		<title>ATLAS STONE INTERFACE</title>
  		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  	</head>
	<body>
  	<h1>ATLAS STONE INTERFACE</h1>

  	<div class="toggle-container">
		<label for="infoToggle" id="sensorSupportLabel"></label>
  		<input type="checkbox" id="infoToggle">
  		<p id="additionalInfo">Tilt control enabled!</p>
  	</div>

  	<p>alpha <span id="alpha"></span></p>
  	<p>beta <span id="beta"></span></p>
  	<p>gamma <span id="gamma"></span></p>
  	<canvas id="joystickCanvas"></canvas>
  	<script src="{{ url_for('static', filename='script.js') }}"></script>
  	</body>
</html>
